.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(221, 101, 58);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo {
    border: 1px solid #b0a5a5;
    width: 500px;
    padding: 10px;
}